@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*
Font serif: "EB Garamond";
Font sans-serif: "Ubuntu";
*/

/*stile generale*/
:root{
    --bianco: #fff;
    --carta1: #faebd7;/*antiquewhite*/
    --placeholder: #777;
    --colorC: #555;
    --colorD: #444;
    --sfondoScuro: #222;
    --grigioChiaro: #cbcac5;
    --carta2: #ffe4c4;/*bisque*/
}

::selection{
    background-color: var(--grigioChiaro);
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--carta1);
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*Tutto lo schermo*/
}

main {
    flex: 1; /*occupa tutto lo spazio che avanza tra header e footer */
}


h1, h2, h3, h4, h5, h6{
    font-family: "EB Garamond", serif;
    text-align: center;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.75em;
}

h3{
    font-size: 1.5em;
}

p, q{
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
    line-height: 1.05em;
    font-size: 1.05em;
}

a{
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
}

ul{
    list-style: none;
}
/*fine stile generale*/

/*inizio stile menù*/
header nav{
    font-family: "EB Garamond", serif;
    background-color: var(--sfondoScuro);
    color: var(--carta1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#menu-toggle, #menu-icon{
    display: none;
}

#menu img{
    height: 2.5em;
    vertical-align: middle;
    border-radius: 50%;
}

#menu{
    margin: 0;
    padding: 0;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menu li{
    flex: 1;
    display: flex;
    justify-content: center;
}

#menu li#logo{
    flex: 0 0 auto;
    margin: 0 2em;
}

/*elementi fantasma per avere menù più compatto*/
#menu::before,
#menu::after{
    content: "";
    flex: 1;
}

#menu a{
    color: var(--bianco);
    font-weight: bold;
    font-family: "EB Garamond", serif;
    transition: color 0.3s ease-out;
    padding: 0.5em 1.5em;
    font-size: 1.10em;
}

#menu a:hover{
    color: var(--carta2);
}

.current{
    text-decoration: underline;
}
/*fine stile menù*/

/*inizio stile footer*/
footer{
    padding: 1em;
    background-color: var(--sfondoScuro);
    color: var(--bianco);
}

footer address{
    display: flex;
    justify-content: center;
    margin: 0 4em;
    gap: 5em;
}

footer p{
    text-align: center;
}

footer p a{
    font-style: italic;
    color: var(--bianco);
    transition: 0.3s ease-out;
}

footer p a:hover{
    color: var(--carta2);
}

footer .material-symbols-outlined{
    vertical-align: middle;
    margin-right: 0.2em;
    font-size: 1.5em;
}
/*fine stile footer*/

/*inizio stile grid layout*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 4em 2em 4em;
    column-gap: 2em;
}

.grid img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 5%;
    transition: 0.3s ease-out;
}

.grid img:hover{
    transform: scale(1.05);
}

.grid .element{
    overflow: hidden;
}
/*fine stile grid layout*/

/*inizio stile pagine lista*/
#ricerca-sec{
    display: block;
    width: 40%;
    margin: 0 auto;
}

#ricerca-sec div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

#ricerca-sec label{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1.10em;
}

#ricerca-sec input[type=text]{
    font-size: 1.15em;
    width: 100%;
}

.lista-contenuti{
    margin: auto 4em;
}
    /*inizio stile tabella*/
    table{
        width: 60%;
        border-collapse: collapse;
        border: 2px solid var(--sfondoScuro);
        margin: auto;
        margin-top: 1em;
        font-family: "Ubuntu", sans-serif;
    }

    table th,
    table td{
        border: 2px solid var(--sfondoScuro);
        padding: 0.2em 0.5em;
    }

    table tbody{
        cursor: pointer;
        min-height: 350px;/*(70*5)px prenotati per la tabella*/
    }

    table th{
        background-color: var(--carta2);
    }

    table tr:nth-child(odd){
        background-color: var(--carta1);
    }

    table tr:nth-child(even){
        background-color: var(--carta2);
    }

    /*colonna immagine*/
    table td:last-child{
        width: 75px;
        height: 70px;
    }

    /*titoli=>link*/
    table td a{
        color: var(--sfondoScuro);
    }

    table td img{
        width: 50px;
        max-height: 66px;
        border-radius: 4px;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    table .no-img{
        font-size: small;
        color: var(--colorC);
    }
    /*fine stile tabella*/
.lista-contenuti #paginazione{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.05em;
    margin: 1em auto;
}
/*fine stile pagine lista*/

/*inizio stile area riservata*/
.area-riservata #radio-div{
    display: inline;
    width: 40%;
    margin: 0 auto;
}

.area-riservata #radio-div input[name="tipo-form"]{
    display: none;
}

.area-riservata #radio-div label{
    width: auto;
    padding: 0.20em 1em;
    cursor: pointer;
    background-color: var(--carta2);
    color: var(--sfondoScuro);
    border-radius: 35%;
    border: var(--sfondoScuro) solid 2px;
    transition: color 0.3s ease-out;
    margin: auto 0.5em;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.area-riservata #radio-div label:hover,
.area-riservata #radio-div input[type=radio]:checked+label{
    background-color: var(--colorC);
    color: var(--carta2);
}

.area-riservata .grid{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;
    display: none;
}

.area-riservata .grid .element{
    background-color: var(--carta2);
    border-radius: 10%;
    margin: 0.5em 0;
    padding: 0 1.5em 1em 1.5em;
}

    /*inizio stile form*/
    form{
        font-family: "Ubuntu", sans-serif;
    }

    form label{
        font-weight: bold;
        font-size: 1.10;
        padding-right: 0.25em;
        white-space: nowrap;
    }

    form .required{
        text-decoration: underline;
    }

    form input,
    form select{
        font-size: 1.05em;
    }

    form textarea{
        font-size: 1.05em;
        font-family: "Ubuntu", sans-serif;
        width: 100%;
        height: 1.20em;
    }

    form input[type=number]{
        width: 3em;
        text-align: center;
    }

    form div{
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    form p{
        text-align: center;
        margin-top: 0;
        min-height: 1.05em;
    }

    form input::placeholder{
        color: var(--placeholder);
    }

    form input[type=text],
    form input[type=url],
    form input[type=email],
    form input[type=password]{
        width: 100%;
    }

    form input[type=submit],
    form input[type=button],
    form input[type=reset],
    form input::file-selector-button,
    button,
    .area-riservata a{
        width: auto;
        padding: 0.20em 1em;
        font-size: 1em;
        font-family: "Ubuntu", sans-serif;
        cursor: pointer;
        font-weight: bold;
        background-color: var(--carta2);
        color: var(--sfondoScuro);
        border-radius: 35%;
        border: var(--sfondoScuro) solid 2px;
        transition: color 0.3s ease-out;
    }

    form input[type=submit]:hover,
    form input[type=button]:hover,
    form input[type=reset]:hover,
    form input::file-selector-button:hover,
    button:hover,
    .area-riservata a:hover{
        background-color: var(--colorC);
        color: var(--carta2);
    }

    form input:disabled{
        border-color: var(--sfondoScuro);
    }

    #small-div{
        margin-top: -1em;
    }

        /*inizio stile select*/
    #add-ruolo-utente:invalid{
        color: var(--placeholder);
    }

    #add-ruolo-utente option{
        color: var(--sfondoScuro);
    }
        /*fine stile select*/

    /*fine stile form*/

#modifica-edizione-form,
#modifica-stampa-form{
    display: none;
    margin-top: 1em;
}
/*fine stile area_admin*/

/*inizio stile pagina login e area personale*/
#login form,
#cambia-password-div{
    display: block;
    width: 40%;
    margin: auto;
    overflow: hidden;
    background-color: var(--carta2);
    border-radius: 10%;
    padding: 0 1em 1em 1em;
}

#login form{
    padding-top: 1em;
}

#icona-occhio-chiuso,
#icona-occhio-chiuso2,
#icona-occhio-chiuso3{
    display: none;
}

#login .icona,
#cambia-password-form .icona{
    cursor: pointer;
}


/*fine stile pagina login e area personale*/

/*inizio stile pagina catalogo*/
#catalogo .grid{
    gap: 0 0;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20em 4em 20em;
}

#catalogo .grid .element{
    position: relative;
    aspect-ratio: 3/4;
    margin: 0 15%;
}

#catalogo .grid .element img{
    height: 100%;
    display: block;
}

#catalogo .link{
    /*posiziono sopra l'immagine*/
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    /*testo*/
    font-family: "EB Garamond", serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    line-height: 0.75em;
    color: var(--sfondoScuro);
    /*sfondo*/
    background-color: var(--carta2);
    border-radius: 50%;
    padding: 0.75em;
    /*effetti*/
    transition: color 0.3s ease-out;
}

#catalogo .link:hover{
    color: var(--carta2);
    background-color: var(--colorD);
}
/*fine stile pagina catalogo*/

/*inizio stile pagine contenuti*/
.articolo{
    visibility: hidden;
}

.articolo .grid{
    align-items: start;
}

.articolo img{
    border-radius: 0%;
}

.articolo img:hover{
    transform: none;
}

#scheda{
    grid-column: span 2;
    text-align: justify;
    font-size: 1.2em;
    vertical-align: top;
}

#scheda ul{
    color: var(--sfondoScuro);
    font-family: "Ubuntu", sans-serif;
    padding-left: 0;
    margin: 0;
}

#scheda li{
    margin-bottom: 0.75em;
}

#scheda span{
    font-weight: bold;
}

#scheda a{
    color: var(--sfondoScuro);
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s ease-out;
}

#scheda a:hover{
    color: var(--colorC);
}

    /*inizio stile slider*/
    #slider{
        width: 100%;
        overflow: hidden;
        cursor: w-resize;
    }

    #slider-track{
        display: flex;
        transition: 0.5s ease-out;
    }

    .slide{
        width: 100%;
    }

    #slider p{
        font-size: 1em;
        color: var(--colorD);
        text-align: center;
        margin-top: 0.25em;
    }
    /*fine stile slider*/
/*fine stile pagine contenuti*/

/*inizio stile pagina privacy*/
#informativa{
    width: 55%;
    margin: auto auto 1em auto;
}

#informativa #versione{
    text-align: center;
    margin-top: -1.25em;
}

#informativa p{
    text-align: justify;
    margin: auto;
}

#informativa ul{
    list-style: disc;
}

#informativa a{
    color: var(--sfondoScuro);
}
/*fine stile pagina privacy*/