@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*
Font serif: "EB Garamond";
Font sans-serif: "Ubuntu";
*/

/*stile generale*/
:root{
    --bianco: #fff;
    --placeholder: #777;
    --colorC: #555;
    --colorD: #444;
    --sfondoScuro: #222;
    --grigioChiaro: #cbcac5;
    --carta1: #faebd7;/*antiquewhite*/
    --carta2: #ffe4c4;/*bisque*/
    --carta3: #fcdcadc1;
}

::selection{
    background-color: var(--grigioChiaro);
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--carta1);
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*Tutto lo schermo*/
}

main {
    flex: 1; /*occupa tutto lo spazio che avanza tra header e footer */
}

h1, h2, h3, h4, h5, h6{
    font-family: "EB Garamond", serif;
    text-align: center;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

p, q, address{
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
    line-height: 1.05em;
    font-size: 1.05em;
}

a{
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    color: var(--sfondoScuro);
}

ul{
    list-style: none;
}
    /*inizio stile responsive*/
    article .mobile-img{
        display: none;
    }
    /*fine stile responsive*/
/*fine stile generale*/

/*inizio stile menù*/
header nav{
    font-family: "EB Garamond", serif;
    background-color: var(--sfondoScuro);
    color: var(--carta1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#menu-toggle, #menu-icon{
    display: none;
}

#menu img{
    height: 2.5em;
    vertical-align: middle;
    border-radius: 50%;
}

#menu{
    margin: 0;
    padding: 0;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menu li{
    flex: 1;
    display: flex;
    justify-content: center;
}

#menu li#logo{
    flex: 0 0 auto;
    margin: 0 2em;
}

/*elementi fantasma per avere menù più compatto*/
#menu::before,
#menu::after{
    content: "";
    flex: 1;
}

#menu a{
    color: var(--bianco);
    font-weight: bold;
    font-family: "EB Garamond", serif;
    transition: color 0.3s ease-out;
    padding: 0.5em 1.5em;
    font-size: 1.10em;
}

#menu a:hover{
    color: var(--carta2);
}

.current{
    text-decoration: underline;
}
/*fine stile menù*/

/*inizio stile footer*/
footer{
    padding: 1em;
    background-color: var(--sfondoScuro);
    color: var(--bianco);
}

footer address{
    display: flex;
    justify-content: center;
    margin: 0 4em;
    gap: 5em;
}

footer p{
    text-align: center;
}

footer p a{
    font-style: italic;
    color: var(--bianco);
    transition: 0.3s ease-out;
}

footer p a:hover{
    color: var(--carta2);
}

footer .material-symbols-outlined{
    vertical-align: middle;
    margin-right: 0.2em;
    font-size: 1.5em;
}
/*fine stile footer*/

/*inizio stile grid layout*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 4em 2em 4em;
    column-gap: 2em;
}

.grid img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 5%;
    transition: 0.3s ease-out;
}

.grid img:hover{
    transform: scale(1.05);
}

.grid .element{
    overflow: hidden;
}
/*fine stile grid layout*/

/*inizio stile home (index.html)*/
#welcome-sec q{
    display: block;
    text-align: center;
    color: var(--colorC);
    margin-top: -1em;
    font-style: italic;
    quotes: none;
}

#welcome-sec img{
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 3px solid var(--colorC);
    display: block;
    margin: 1em auto;
}

#contatore-div p{
    text-align: center;
    font-family: "EB Garamond", serif;
    font-size: 1.75em;
    font-weight: bold;
    margin: auto;
}
/*fine stile home (index.html)*/

/*inizio stile pagine lista*/
#ricerca-sec{
    display: block;
    width: 40%;
    margin: 0 auto;
}

#ricerca-sec div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

#ricerca-sec label{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1.10em;
}

#ricerca-sec input[type=text]{
    font-size: 1.15em;
    width: 100%;
}

.lista-contenuti{
    margin: auto 4em;
}
    /*inizio stile tabella*/
    table{
        width: 60%;
        border-collapse: collapse;
        border: 2px solid var(--sfondoScuro);
        margin: auto;
        margin-top: 1em;
        font-family: "Ubuntu", sans-serif;
    }

    table th,
    table td{
        border: 2px solid var(--sfondoScuro);
        padding: 0.2em 0.5em;
    }

    .lista-contenuti table tbody{
        cursor: pointer;
        min-height: 350px;/*(70*5)px prenotati per la tabella*/
    }

    table th{
        background-color: var(--carta2);
    }

    table tr:nth-child(odd){
        background-color: var(--carta1);
    }

    table tr:nth-child(even){
        background-color: var(--carta2);
    }

    /*colonna immagine*/
    .lista-contenuti table td:last-child{
        width: 4.4em;
        height: 4.3em;
    }

    /*titoli=>link*/
    table td a{
        color: var(--sfondoScuro);
    }

    table td img{
        width: 3.2em;
        max-height: 4.2em;
        border-radius: 4px;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    table .no-img{
        font-size: small;
        color: var(--colorC);
    }
    /*fine stile tabella*/

.lista-contenuti #paginazione{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.05em;
    margin: 1em auto;
}
/*fine stile pagine lista*/

/*inizio stile area riservata*/
.area-riservata #radio-div{
    display: inline;
    width: 40%;
    margin: 0 auto;
}

.area-riservata #radio-div input[name="tipo-form"]{
    display: none;
}

.area-riservata #radio-div label{
    width: auto;
    padding: 0.20em 1em;
    cursor: pointer;
    background-color: var(--carta2);
    color: var(--sfondoScuro);
    border-radius: 35%;
    border: var(--sfondoScuro) solid 2px;
    transition: color 0.3s ease-out;
    margin: auto 0.5em;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.area-riservata #radio-div label:hover,
.area-riservata #radio-div input[type=radio]:checked+label{
    background-color: var(--colorC);
    color: var(--carta2);
}

.area-riservata .grid{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;
    display: none;
}

.area-riservata .grid .element{
    background-color: var(--carta2);
    border-radius: 10%;
    margin: 0.5em 0;
    padding: 0 1.5em 1em 1.5em;
}

.area-riservata #utenti-grid .element:nth-of-type(3){
    grid-column: span 2;
}

.area-riservata #monitoraggio-grid .element{
    grid-column: span 2;
}

.area-riservata #monitoraggio-grid #monitoraggio-form div{
    display: block;
}

.area-riservata #monitoraggio-grid input[type="text"]{
    width: 50%;
}

.area-riservata #monitoraggio-grid table{
    width: 100%;
}

    /*inizio stile form*/
    form{
        font-family: "Ubuntu", sans-serif;
    }

    form label{
        font-weight: bold;
        font-size: 1.10em;
        padding-right: 0.25em;
        white-space: nowrap;
        cursor: text;
    }

    form .required{
        text-decoration: underline;
    }

    form input,
    form select{
        font-size: 1.05em;
        font-family: "Ubuntu", sans-serif;
    }

    form textarea{
        font-size: 1.05em;
        font-family: "Ubuntu", sans-serif;
        width: 100%;
        height: 1.20em;
    }

    form input[type=number]{
        width: 3em;
        text-align: center;
    }

    form div{
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    form div:has(input[type="number"]){
        display: block;
    }

    form p{
        text-align: center;
        margin-top: 0;
        min-height: 1.05em;
    }

    form input::placeholder{
        color: var(--placeholder);
    }

    form input[type=text],
    form input[type=url],
    form input[type=email],
    form input[type=password]{
        width: 100%;
    }

    form input[type=submit],
    form input[type=button],
    form input[type=reset],
    form input::file-selector-button,
    button,
    .area-riservata a{
        width: auto;
        padding: 0.20em 1em;
        font-size: 1em;
        font-family: "Ubuntu", sans-serif;
        cursor: pointer;
        font-weight: bold;
        background-color: var(--carta2);
        color: var(--sfondoScuro);
        border-radius: 35%;
        border: var(--sfondoScuro) solid 2px;
        transition: color 0.3s ease-out;
    }

    form input[type=submit]:hover,
    form input[type=button]:hover,
    form input[type=reset]:hover,
    form input::file-selector-button:hover,
    button:hover,
    .area-riservata a:hover{
        background-color: var(--colorC);
        color: var(--carta2);
    }

    form input:disabled{
        border-color: var(--sfondoScuro);
    }

    form div:has(small){/*suggerimenti nei form*/
        margin-top: -1em;
    }

    .modifica-form{
        display: none;
        margin-top: 1em;
    }

        /*inizio stile select*/
        #add-ruolo-utente:invalid{
            color: var(--placeholder);
        }

        #add-ruolo-utente option{
            color: var(--sfondoScuro);
        }
        /*fine stile select*/

        /*inizio stile input type="date"*/
        /*placeholder data*/
        form input[type=date]::-webkit-datetime-edit{
            color: var(--placeholder);
        }

        /*data selezionata*/
        form input[type=date].has-value::-webkit-datetime-edit{
            color: var(--sfondoScuro);
        }
        /*fine stile input type="date"*/

    /*fine stile form*/

.area-riservata .element table{
    display: none;
}
/*fine stile area riservata*/

/*inizio stile pagina login e area personale*/
#login form,
#cambia-password-div{
    display: block;
    width: 40%;
    margin: auto;
    overflow: hidden;
    background-color: var(--carta2);
    border-radius: 10%;
    padding: 0 1em 1em 1em;
}

#login form{
    padding-top: 1em;
}

#icona-occhio-chiuso,
#icona-occhio-chiuso2,
#icona-occhio-chiuso3{
    display: none;
}

#login .icona,
#cambia-password-form .icona{
    cursor: pointer;
}
/*fine stile pagina login e area personale*/

/*inizio stile pagina catalogo*/
#catalogo .grid{
    gap: 0 0;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20em 4em 20em;
}

#catalogo .grid .element{
    position: relative;
    aspect-ratio: 3/4;
    margin: 0 15%;
}

#catalogo .grid .element img{
    height: 100%;
    display: block;
}

#catalogo .link{
    /*posiziono sopra l'immagine*/
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    /*testo*/
    font-family: "EB Garamond", serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    line-height: 0.75em;
    color: var(--sfondoScuro);
    /*sfondo*/
    background-color: var(--carta2);
    border-radius: 50%;
    padding: 0.75em;
    /*effetti*/
    transition: color 0.3s ease-out;
}

#catalogo .link:hover{
    color: var(--carta2);
    background-color: var(--colorD);
}
/*fine stile pagina catalogo*/

/*inizio stile pagine contenuti*/
.articolo{
    visibility: hidden;
}

.articolo .grid{
    align-items: start;
}

.articolo img{
    border-radius: 0%;
}

.articolo img:hover{
    transform: none;
}

#scheda{
    grid-column: span 2;
    text-align: justify;
    font-size: 1.2em;
    vertical-align: top;
}

#scheda ul{
    color: var(--sfondoScuro);
    font-family: "Ubuntu", sans-serif;
    padding-left: 0;
    margin: 0;
}

#scheda li{
    margin-bottom: 0.75em;
}

#scheda .titolo{
    font-size: 1.25em;
    font-weight: bold;
}

#scheda span{
    font-weight: bold;
}

#scheda a{
    color: var(--sfondoScuro);
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s ease-out;
}

#scheda a:hover{
    color: var(--colorC);
}

    /*inizio stile slider*/
    #slider{
        width: 100%;
        overflow: hidden;
        cursor: w-resize;
    }

    #slider-track{
        display: flex;
        transition: 0.5s ease-out;
    }

    .slide{
        width: 100%;
    }

    #slider p{
        font-size: 1em;
        color: var(--colorD);
        text-align: center;
        margin-top: 0.25em;
    }
    /*fine stile slider*/
/*fine stile pagine contenuti*/

/*inizio stile pagina eventi e biografia*/
#eventi #contatti-sec address{
    font-style: normal;
    text-align: center;
}

#eventi #contatti-sec address a{
    font-weight: bold;
}

#eventi-sec p:not(article p){
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "EB Garamond";
}

#show-more-btn{
    display: none;
    margin: 0 auto 2em auto;
}

#eventi-sec article,
#biografia article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4em;
    column-gap: 1em;
    background-color: var(--carta2);
    padding: 2em;
    border-radius: 15%;
}

#eventi-sec article:nth-child(odd),
#biografia article:nth-child(odd){
    background-color: var(--carta3);
}

#eventi-sec article .testata,
#biografia article .testata{
    grid-column: span 4;
    margin: 0;
}

#eventi-sec article .testata h3{
    margin-bottom: 0.5em;
}

#eventi-sec article .date{
    text-align: center;
    margin-top: 0;
}

#eventi-sec article .testo{
    grid-column: span 4;
}

#biografia article .testo{
    grid-column: span 2;
}

#eventi-sec article .collegamenti{
    grid-column: span 4;
}

#eventi-sec article a{
    color: var(--sfondoScuro);
    transition: 0.3s ease-out;
    font-weight: bold;
    margin: 0 2em 0 2em
}

#eventi-sec article a:hover{
    color: var(--colorD);
}

#eventi-sec article img,
#biografia article img,
#biografia article div{
    border-radius: 5%;
    transition: 0.3s ease-out;
    max-width: 20em;
    max-height: 20em;
    margin: auto;
}

#eventi-sec article img:hover,
#biografia article img:hover{
    transform: scale(1.05);
}

#biografia article .didascalia{
    text-align: center;
    margin-top: 0;
    font-style: italic;
}

    /*inizio articoli 1 immagine*/
    #eventi-sec .one-img-article .testo{
        grid-column: span 3;
    }
    /*fine articoli 1 immagine*/

    /*inizio articoli 2 immagini*/
    #eventi-sec .two-img-article .testo{
        grid-column: span 2;
    }
    /*fine articoli 2 immagini*/

/*fine stile pagina eventi e biografia*/

/*inizio stile pagina privacy*/
#informativa{
    width: 55%;
    margin: auto auto 1em auto;
}

#informativa #versione{
    text-align: center;
    margin-top: -1.25em;
}

#informativa p{
    text-align: justify;
    margin: auto;
}

#informativa ul{
    list-style: disc;
}

#informativa a{
    color: var(--sfondoScuro);
}
/*fine stile pagina privacy*/

/*Stile alternativo per schermi con meno di 768px*/
@media screen and (max-width: 768px){
/*inizio restyling menù*/
    #menu-icon{
        display: block;
        font-size: 3em;
        width: 10%;
        margin: 0 0 0 90%;
        cursor: pointer;
    }

    #menu{
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        }

    #menu #logo{
        display: none;
    }

    #menu-toggle:checked ~ #menu{
        display: flex;
    }
/*fine restyling menù*/

/*inizio restyling body*/
    body{
        padding-top: 4em;
    }
/*fine restyling body*/

/*inizio restyling articoli biografia e eventi*/
    #biografia article,
    #eventi-sec article{
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 0 1em 1em 1em;
        padding: 1em;
        border-radius: 5%;
    }

    article .testo{
        margin: 0;
    }

    article .pc-img{
        display: none;
    }

    article .mobile-img{
        display: block;
    }

    #biografia article div:has(p.didascalia){
        /*spazio per non coprire didascalia*/
        margin-bottom: 2em;
    }

    article .collegamenti{
        margin-top: 1em;
    }
/*fine restyling articoli biografia e eventi*/

/*inizio restyling footer*/
    footer address{
        flex-direction: column;
        margin: auto;
        gap: 0;
    }
/*fine restyling footer*/

/*inizio restyling privacy*/
    #informativa{
        width: 90%;
        margin: auto 2em 1em 2em;
    }
/*fine restyling privacy*/

/*inizio restyling pagine lista*/
    .lista-contenuti{
        margin: auto 2em;
    }

    table{
        width: 90%;
    }
/*fine restyling pagine lista*/

/*inizio restyling home*/
    #welcome-sec{
        margin-left: 2em;
        margin-right: 2em;
    }
/*fine restyling home*/
}